/HxCHARD/ARCHIVE
/HxCHARD/T
/HxCHARD/DISASM
/HxCHARD/EXPL5TCD
/HxCHARD/EXPL5TRS
/HxCHARD/EXPL6TRS
/HxCHARD/EXPORT
/HxCHARD/HXCHARD_0.9b3_SRC
/HxCHARD/HXCHARDx_0.0b1_SRC
/HxCHARD/HXCHARDx_0.0b2_SRC
*.bak
/HxCHARD/*.JPG
/HxCHARD/*_SRC.ZIP
/HxCHARD/*.tws
/HxCHARD/*.SYM
/HxCHARD/AUTOHXC1.JCL
/HxCHARD/AUTOHXCH.JCL
/HxCHARD/FREHD.JCL
/HxCHARD/FREHD1.JCL
/HxCHARD/HD.JCL
/HxCHARD/HD0.JCL
/HxCHARD/HD1.JCL
/HxCHARD/HD640.JCL
/HxCHARD/HD640S.JCL
/HxCHARD/HD641.JCL
/HxCHARD/HD641S.JCL
/HxCHARD/HH.JCL
/HxCHARD/HHE.JCL
/HxCHARD/HHI.JCL
/HxCHARD/HXCHARDI.JCL
/HxCHARD/HXCTEST.JCL
/HxCHARD/HARD3-1
/HxCHARD/HARD4-1
